doctype html
html.h-100(data-bs-theme="dark")
  head
    title Cloak Data Editor
    link(rel="icon" type="image/x-icon" href="icon.ico")
    link(rel="stylesheet" href="styles/styles.scss")
    script(src="node_modules/bootstrap/dist/js/bootstrap.bundle.js")
    script(src="scripts/form.js")
    script(src="scripts/page.ts")
    script(src="scripts/cloak.ts")
    script(src="scripts/main.ts")
  body.h-100
    //- GRID
    .row.g-0.h-100
      //- COL
      #sidebar.col.h-100.border-end.d-flex.flex-column.overflow-y-scroll
        #infoUpdateAvail.text.text-center.bg-secondary.text-light.m-1.mb-0(hidden) Update available
        .p-1.sticky-top.bg-dark
          #errorOpenFile.text.text-center.w-100.bg-danger.text-light.mb-1(hidden) Failed to open file (see console)
          #errorSaveFile.text.text-center.w-100.bg-danger.text-light.mb-1(hidden) Failed to save file (see console)
          .d-flex.mb-1
            button#openFileBtn.btn.btn-primary.flex-shrink-0 Open File
            button#saveFileBtn.btn.btn-primary.flex-shrink-0(hidden) Save File
            #fileNameLbl.text.flex-grow-1.overflow-ellipsis No file open.
          input#searchBox.form-control.width-100(placeholder="Filter" hidden)
        #list.px-1.flex-grow-1
        .p-1.sticky-bottom.bg-dark.d-flex
          .dropdown.flex-shrink-0
            button#createItemBtn.btn.btn-secondary.dropdown-toggle(data-bs-toggle="dropdown" hidden) Create Item
            ul#createItemMenu.dropdown-menu
          #versionLbl.text.text-end.flex-grow-1
      //- COL
      #main.col.h-100.overflow-y-auto.bg-dark-subtle
        include partials/mixins
        include partials/cloak