//
  +form("descriptors")
    +string("id", "ID")
    +mlstring("replacers", "Replacers", true)
      .form-text Multiple entries separated by new lines.
      .form-text Entry format: replacer[=weight]