+form("tiles")
  +string("id", "ID")
  +string("name", "Name")
    .form-text Supports flavor text.
  +mlstring("description", "Description")
    .form-text Supports flavor text.
  +mlstring("sprites", "Sprites", true)
    .form-text Multiple entries separated by new lines.
  +boolean("isSolid", "Is Solid")
  +boolean("isOpaque", "Is Opaque")