+form
  +string("id", "ID")
  +string("name", "Name")
    .form-text Supports flavor text.
  +mlstring("description", "Description")
    .form-text Supports flavor text.
  +mlstring("sprites", "Sprites")
    .form-text Multiple entries separated by new lines.
  +number("width", "Width")
  +number("height", "Height")
  +boolean("canFly", "Can Fly")
  +range("healthMin", "healthMax", "Health")
  +range("damageMin", "damageMax", "Damage")
script.
  register("creatures", {
    form: document.forms[document.forms.length - 1],
    processors: {
      get: [],
      set: []
      //- get: [packSprites],
      //- set: [unpackSprites]
    }
  });