doctype html
html.h-100(data-bs-theme="dark")
  head
    title Cloak Data Editor
    link(rel="stylesheet" href="css/styles.css")
    script(src="js/popper.js")
    script(src="js/bootstrap.js")
  
  body.h-100
    div.row.g-0.h-100
      div#sidebar.h-100.overflow-y-auto
        //- Sidebar content
        div.sticky-top
          div.bg-dark.position-relative.p-3.pb-0
            //- File status container
            div.mb-3.overflow-ellipsis
              button#openFileBtn.btn.btn-primary Open File
              button#saveFileBtn.btn.btn-primary(hidden) Save File
              span#fileNameLbl.text-mute.ms-3 No file open.
            
            input#searchBox.form-control(placeholder="Filter..."  spellcheck="false" disabled title=`Examples:
bandit
!bandit
creatures:
creatures:bandit
c:!band`)

          div.fade-out

        div.p-3.py-0
          div#listDiv.list-group

        div.sticky-bottom
          div.fade-in
          div.bg-dark.p-3.pt-0
            div.dropdown.d-inline-block
              button#createNewBtn.btn.btn-primary.dropdown-toggle(disabled data-bs-toggle="dropdown") Create new
              ul.dropdown-menu
                li:a.dropdown-item(onclick="createNewItem('creatures')") Creature
                li:a.dropdown-item(onclick="createNewItem('tiles')") Tile
                //- li:a.dropdown-item(onclick="createNewItem('worlds')") World
                //- li:a.dropdown-item(onclick="createNewItem('descriptors')") Descriptor

            button#deleteCurrentBtn.float-end.btn.btn-danger(disabled) Delete current

      div.col.h-100.overflow-y-auto
        //- Main content
        include forms/mixins
        include forms/creatures
        include forms/tiles
        include forms/worlds
        include forms/descriptors
    
    template#listItem
      button.list-group-item.list-group-item-action.py-1.px-3.overflow-ellipsis
      
    script(src="js/form.js")
    script(src="js/scripts.js")
    script(src="js/cloak.js")