extends pug/extends/page

block title
  | Cloak Data Editor

append body
  template#tplEntryListItem
    button.list-group-item.list-group-item-action.py-1.px-3.overflow-ellipsis Item

block sidebar
  include pug/sidebar-content

block main
  include pug/forms/form
  include pug/forms/creatures