$custom-padding-x: 1rem;
$custom-padding-y: .125rem;

// Color
$primary: #007f5c;
$secondary: #3b444b;

// Options
$enable-transitions: false;

// Buttons
$btn-padding-y: $custom-padding-y;
$btn-padding-x: $custom-padding-x;
$btn-border-radius: 0;

// Dropdowns
$dropdown-padding-y: .25rem;
$dropdown-border-radius: 0;
$dropdown-item-padding-y: $custom-padding-y;
$dropdown-item-padding-x: $custom-padding-x;

// List group
$list-group-item-padding-y: $custom-padding-y;
$list-group-item-padding-x: $custom-padding-x;