@import "./bootstrap";

html, body
{
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.app
{
  @extend .row, .g-0;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.app-sidebar
{
  @extend .col, .border-end;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  overflow-y: scroll; 
}

.app-content
{
  @extend .col, .bg-dark-subtle;
  overflow-y: auto;
}

.app-project-status
{
  display: flex;
  white-space: nowrap;
}

.app-project-status>label
{
  flex-grow: 1;
  overflow: hidden;
  padding: $custom-padding-y $custom-padding-x;
  text-overflow: ellipsis;
}

/*
.alert
{
  @extend .bg-danger, .text-light;
  display: inline-block;
  margin-bottom: $spacer * .25;
  padding: $custom-padding-y $custom-padding-x;
}

.output
{
  @extend .bg-dark-subtle, .text-light;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  line-height: normal;
  padding: $spacer * .25;
  white-space: pre-wrap;
}
*/